#navbar {
			background-color: #243046; opacity: 0.9; height: 65px;
		}
		#title {
			font-weight: bolder; color: #fffaf9; margin-left: 100px;
		}
		ul#right {
			float: right; margin-right: 70px;
		}
		#right2 {
			color: #fffaf9;
		}
		body {
			background-color: #86756a;
		}
		form {
				background-color: #db6400;position: absolute; padding-top: 10px; color: #fffaf9; margin-left: 10px; padding-bottom: 10px; margin-left: 230px; margin-top: 80px;
		}
		#bottom {
			background-color: #243046; height: 170px; width: 1440px; position: relative;text-align: center; top: 100px;
		}
		#bottom2 {
			position: absolute; top: 780px; color: #fffaf9; margin-left: 150px;
		}
		button {
			position: absolute; top: 840px; width: 450px; margin-left: 150px;
		}
		#bottom3 {
			background-color: #243046; height: 10px; width: 1440px; position: relative;text-align: center; top: 100px;
		}
		#bottom4 {
			position: absolute; top: 780px; color: #fffaf9; margin-left: 850px;
		}
		#button2 {
			position: absolute; top: 840px; width: 450px; margin-left: 840px;
		}